*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: linear-gradient(45deg, blue, violet);
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora{
    position: absolute;
}